@model UI.ViewModels.SkillViewModels.PagedSkillViewModel

@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>
<div class="row">
    <div class="col-4">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>
    <div class="col-8">
        <form action="GetAll" method="post">
            <input type="text" name="searchText" value="@ViewData["filterData"]" />
            <button type="submit" value="Search">Search</button>
        </form>
    </div>

</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Skills) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var previous = Model.PageInfo.HasPrevious ? "" : "disabled";
    var next = Model.PageInfo.HasNext ? "" : "disabled";
}

<a asp-route-filterText="@ViewData["filterData"]" class="btn btn-info @previous" asp-route-pageNumber="@(Model.PageInfo.PageNumber - 1)">Previous</a>
<a asp-route-filterText="@ViewData["filterData"]" class="btn btn-info @next" asp-route-pageNumber="@(Model.PageInfo.PageNumber + 1)">Next</a>
